    <% provide(:title, 'About Us') %>
    <h1>About Palmer Biological Services</h1>
    <p>
      The <a href="http://www.martin.fl.us/portal/page?_pageid=351,1&_dad=portal&_schema=PORTAL">Martin County Utilities</a>
  Ordering System (MCUOS) is a project to allow treatment facilities to place internal supply orders.
    </p>
  </body>
</html>