<% provide(:title, 'Home') %>
  
  <body>	
 
  <div class="center">
  <%= link_to "Order a Free Consultation!", order_path, class: "btn btn-large btn-primary" %>
	<h1>Palmer Biological Services, LLC</h1>
	<%= link_to image_tag("pbs.png", alt: "PBS"), '#' %>
	
	<h2>
      Wetland Delineation - Threatened and Endangered Wildlife Surveys - Habitat Assessment - Site Restoration 
	  - and Drinking Water Treatment.
    </h2>
	<h3>We are Statewide!  North,Central,and South Florida.</h3>
	<!--<%= link_to image_tag("Farley.jpg", alt: "PBS"), '#' %>-->
  </div>
  <div>
  <h2> </h2>
  </div>
   <div class="center" >
 <%= link_to "Order a Free Consultation!",'#', class: "btn btn-large btn-primary" %>
 </div>
  </body>