<h1>Add a New Order</h1>
<p>Your Name</label>
<%= text_field 'order', 'name' %></p>
<p>Your Facility</p>
<%= text_field 'order', 'facility' %></p>
<p>The Order</p<br/>
<%= text_area 'book', 'description' %></p>
<%= link_to "Place your Order!", '#', class: "btn btn-large btn-primary" %>