<footer class="footer">
  <small>
    <a href="http://www.martin.fl.us/portal/page?_pageid=351,1&_dad=portal&_schema=PORTAL">Website powered by Palmer Bio Serv</a>
    by KWP
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="">PBS</a></li>
    </ul>
  </nav>
</footer>